[submodule "maestrohub"]
	path = maestrohub
	url = https://github.com/theaarjav/maestrohub
[submodule "fithub"]
	path = fithub
	url = https://github.com/theaarjav/fithub
[submodule "fithub-frontend"]
	path = fithub-frontend
	url = https://github.com/theaarjav/fithub-frontend
